<header class="top-page-header">
  <div class="cafe-name">
    <%= link_to image_tag("753737.png", class:"top-icon"), "/" %>
    <%= link_to "login","#",class:"log" %>
  </div>
  <div class="lists">
    <div class="menu">
    <%=link_to "about","#" ,class:"list" %>
    </div>
    <div class="menu">
    <%=link_to "menu","#" ,class:"list" %>
    </div>
    <div class="menu">
    <%=link_to "shop","#" ,class:"list" %>
    </div>
    <div class="menu">
    <%=link_to "access","#" ,class:"list"%>
    </div>
  </div>
</header>