<header class="top-page-header">
  <div class="cafe-name">
    <%= link_to image_tag("753737.png", class:"top-icon"), "/" %>
    <% if user_signed_in?%>
    <%= link_to "logout", destroy_user_session_path, method: :delete ,class:"log" %>
    <%else%>
    <%= link_to "admin-login",new_user_session_path,class:"log" %>
    <%end%>
    
  </div>
  <div class="lists">
    <div class="menu">
    <%=link_to "about","#" ,class:"list" %>
    </div>
    <div class="menu">
    <%=link_to "menu","#" ,class:"list" %>
    </div>
    <div class="menu">
    <%=link_to "online shop","#" ,class:"list" %>
    </div>
    <div class="menu">
    <%=link_to "access",maps_path ,class:"list"%>
    </div>
  </div>
</header>