<%=render "shared/header"%>
<div class='item-contents'>
      <div class="subtitle" >
        月メニュー
      </div>
      <div class='item-lists'>
        <div class='list'>
          <%= link_to root_path,class:"link" do %>
          
          <div class='all-contents'>
           <div class="all-content">
            <h2>1月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/2" %>
           </div> 
           <div class="all-content">
            <h2>2月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/3" %>
           </div> 
           <div class="all-content">
            <h2>3月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/4" %>
           </div>
           <div class="all-content">
            <h2>4月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/5" %>
           </div>

           <div class="all-content">
            <h2>5月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/6" %>
           </div>

           <div class="all-content">
            <h2>6月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/7" %>
           </div>

           <div class="all-content">
            <h2>7月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/8" %>
           </div>

           <div class="all-content">
            <h2>8月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/9" %>
           </div>

           <div class="all-content">
            <h2>9月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/10" %>
           </div>

           <div class="all-content">
            <h2>10月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/11" %>
           </div>

           <div class="all-content">
            <h2>11月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/12" %>
           </div>

           <div class="all-content">
            <h2>12月</h2>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/13" %>
           </div>

          </div>  
        </div>
        <%end%>
      </div>   
   </div>
<%=render "shared/footer"%>   