<%=render "shared/header"%>
 <main>
   <div id="slide">
    <div class="swiper-container">
      <div class="name">
      <h2>On paljon pienta onnea</h2>
     </div>
     <ul class="swiper-wrapper">
      <li class="swiper-slide"><p><img src="assets/ie.jpg" class="a" alt="イギリス"></p></li>
      <li class="swiper-slide"><p><img src="assets/coffee.jpg" class="a" alt="わんちゃん"></p></li>
      <li class="swiper-slide"><p><img src="assets/humberger.jpg" class="a" alt="レトロな写真"></p></li>
     </ul>
     <div class="swiper-pagination"></div>
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
    </div>
   </div>
   <div class='item-contents'>
      <div class="subtitle" >
        いつものメニュー
      </div>
      <ul class='item-lists'>
      
        <li class='list'>
          <%= link_to "/items/alway/2",class:"link" do %>
          
          <div class='item-img-content'>
              <%= link_to image_tag("a.jpg", class:"item-img"), "/items/alway/2" %> 
          </div>
          <div class="info">
            <div class='item-info'>
              <span>DRINKS</span>   
            </div>
          <% end %>
            <div class='item-price'>
              <span class="sell-yen">¥350~</span>   
            </div>
          </div>  
        </li>
        <li class='list'>
          <%= link_to root_path,class:"link" do %>
          
          <div class='item-img-content'>
              <%= link_to image_tag("food.png", class:"item-img"), "/items/alway/3" %> 
          </div>
          <div class="info">
            <div class='item-info'>
              <span>FOODS</span>   
            </div>
          <% end %>
            <div class='item-price'>
              <span class="sell-yen">¥900~</span>   
            </div>
          </div>  
        </li>
        <li class='list'>
          <%= link_to root_path,class:"link" do %>
          
          <div class='item-img-content'>
              <%= link_to image_tag("cake.png", class:"item-img"), "/items/alway/4" %>  
          </div>
          <div class="info">
            <div class='item-info'>
              <span>DESERTS</span>   
            </div>
          <% end %>
            <div class='item-price'>
              <span class="sell-yen">¥450~</span>   
            </div>
          </div>  
        </li>
       
      </ul>
          
          
          
   </div>
   <div class='item-contents'>
      <div class="subtitle" >
        月メニュー
      </div>
      <ul class='item-lists'>
        <li class='list'>
          <%= link_to root_path,class:"link" do %>
          <h2>7月</h2>
          <div class='item-img-content'>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/" %>
                 
          </div>  
        </li>
        <%end%>
      </ul>
          
          
          
   </div>
  </main>
  <%if user_signed_in?%>
  <%= link_to new_item_path, class: 'item-btn' do %>
    <%= image_tag 'pen.png' , size: '79x50' ,class: "item-btn-icon" %>
  <% end %> 
  <%end%>
  <%=render "shared/footer"%>


<script type="text/javascript">
  var mySwiper = new Swiper ('.swiper-container', {
   slidesPerView:1,
   spaceBetween: 30,
   effect: "fade",
   
   autoplay: {
   delay: 3000, 
   },
   loop: true,
 
   pagination: {
    el: '.swiper-pagination',
    type: 'bullets',
    clickable: true,
   },
  
   navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
   }
  });
</script>