<%=render "shared/header"%>
 <main>
   <div id="slide">
    <div class="swiper-container">
      <div class="nam">
      <h2>On paljon pienta onnea</h2>
     </div>
     <ul class="swiper-wrapper">
      <li class="swiper-slide"><p><img src="assets/ie.jpg" class="a" alt="イギリス"></p></li>
      <li class="swiper-slide"><p><img src="assets/coffee.jpg" class="a" alt="わんちゃん"></p></li>
      <li class="swiper-slide"><p><img src="assets/humberger.jpg" class="a" alt="レトロな写真"></p></li>
     </ul>
     <div class="swiper-pagination"></div>
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
    </div>
   </div>
   <div class='item-contents'>
      <div class="subtitle" >
        いつものメニュー
      </div>
      <div class='item-lists'>
      
        <div class='list'>
          <%= link_to "/items/alway/2",class:"link" do %>
          
          <div class='item-img-content'>
              <%= link_to image_tag("a.jpg", class:"item-img"), "/items/alway/2,3,4" %> 
          </div>
          <div class="info">
            <div class='item-info'>
              <span>DRINKS</span>   
            </div>
          <% end %>
            <div class='item-price'>
              <span class="sell-yen">¥350~</span>   
            </div>
          </div>  
        </div>
        <div class='list'>
          <%= link_to root_path,class:"link" do %>
          
          <div class='item-img-content'>
              <%= link_to image_tag("food.png", class:"item-img"), "/items/alway/5" %> 
          </div>
          <div class="info">
            <div class='item-info'>
              <span>FOODS</span>   
            </div>
          <% end %>
            <div class='item-price'>
              <span class="sell-yen">¥500~</span>   
            </div>
          </div>  
        </div>
        <div class='list'>
          <%= link_to root_path,class:"link" do %>
          
          <div class='item-img-content'>
              <%= link_to image_tag("cake.png", class:"item-img"), "/items/alway/6" %>  
          </div>
          <div class="info">
            <div class='item-info'>
              <span>DESERTS</span>   
            </div>
          <% end %>
            <div class='item-price'>
              <span class="sell-yen">¥450~</span>   
            </div>
          </div>  
        </div>
       
      </div>
          
          
          
   </div>
   <div class='item-contents'>
      <div class="subtitle" >
        月メニュー
      </div>
      <div class='item-lists'>
        <div class='list'>
          <%= link_to root_path,class:"link" do %>
          <h2><%= @dayy%>月</h2>
          <div class='item-img-content'>
            <% case @dayy %>
            <%when 1 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/2" %>
            
            <% when 2 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/3" %>
            
            <% when 3 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/4" %>
            <% when 4 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/5" %>
           
            <% when 5 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/6" %>
          
            <% when 6 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/7" %>
           
            <% when 7 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/8" %>
           
            <% when 8 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/9" %>
           
            <% when 9 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/10" %>
         
            <% when 10 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/11" %>
         
            <% when 11 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/12" %>
            
            <% when 12 %>
            <%= link_to image_tag("coffee.jpg", class:"febrary-icon"), "/items/month/13" %>
            <%end %>
          </div>  
        </div>
        <%end%>
      </div>
      
          
          
          
   </div>
  </main>
  <%if user_signed_in?%>
  <%= link_to new_item_path, class: 'item-btn' do %>
    <%= image_tag 'pen.png' , size: '79x50' ,class: "item-btn-icon" %>
  <% end %> 
  <%end%>
  <%=render "shared/footer"%>


<script type="text/javascript">
  var mySwiper = new Swiper ('.swiper-container', {
   slidesPerView:1,
   spaceBetween: 30,
   effect: "fade",
   
   autoplay: {
   delay: 3000, 
   },
   loop: true,
 
   pagination: {
    el: '.swiper-pagination',
    type: 'bullets',
    clickable: true,
   },
  
   navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
   }
  });
</script>